<h1>psychoFancy</h1>
<h3>Fashion inside out</h3>

<div class="shop-gallery">
  <figure>
    <img src="/t-shirts/Ballon_Boy_T_Shirt.jpg"/>
    <figcaption>
      <p>Balloon Boy Redux</p>
      <p>$25.99</p>
    </figcaption>
  </figure>
  <figure>
    <img src="/t-shirts/1920px-Ambigram_Ideal.jpg"/>
    <figcaption>
      <p>Ambigram</p>
      <p>$15.99</p>
    </figcaption>
  </figure>
  <figure>
    <img src="/t-shirts/SHE_LOVES_CONTROL.jpg"/>
    <figcaption>
      <p>SHE LOVES CONTROL</p>
      <p>$35.99</p>
    </figcaption>
  </figure>
  <figure>
    <img src="/t-shirts/Lucky_Horse_T_Shirt.jpg"/>
    <figcaption>
      <p>Lucky Horse</p>
      <p>$20.99</p>
    </figcaption>
  </figure>
  <figure>
    <img src="/t-shirts/Lucky_Horse_T_Shirt.jpg"/>
    <figcaption>
      <p>Lucky Horse</p>
      <p>$20.99</p>
    </figcaption>
  </figure>
</div>
